<header>
	<%= image_tag("rails.png", :alt => "Sample App", :class => "round") %>
    <nav class="round">
    	<ul>
        	<% if user_signed_in? %>
        		<li><%= link_to "Профиль", root_path %></li>	
        		<li><%= link_to "Настройки", edit_user_registration_path %></li>
        		<li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
        	<% else %>
        		<li><%= link_to "Регистрация", new_user_registration_path %></li>
        	<% end %>
    	</ul>
    </nav>
</header>
