<nav class="round leftmenu">
   	<ul>
       	<li><%= link_to "Главная", '#' %></li><br>
       	<li><%= link_to "Контакты", '#' %></li><br>
        <li><%= link_to "Сообщения", '#' %></li><br>
       	<li><%= link_to "Фото", '#' %></li><br>
        <li><%= link_to "Видео", '#' %></li><br>
        <li><%= link_to "Аудио", '#' %></li><br>
   	</ul>
</nav>